include README.md
include ALGORITHM.md
include DATASETS.md
include requirements.txt
recursive-include docs *
recursive-include notebooks *.ipynb *.md
recursive-include figures *.png
recursive-include data/processed *.csv *.json
